<p id="notice"><%= notice %></p>

<p>
  <strong>Statecode:</strong>
  <%= @state.stateCode %>
</p>

<p>
  <strong>Statename:</strong>
  <%= @state.stateName %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
