<p id="notice"><%= notice %></p>

<p>
  <strong>Membership plan:</strong>
  <%= @plan.membershipPlan %>
</p>

<p>
  <strong>Price:</strong>
  <%= @plan.price %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @plan.currency %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
