<p id="notice"><%= notice %></p>

<p>
  <strong>Member no:</strong>
  <%= @member.member_no %>
</p>

<p>
  <strong>Title:</strong>
  <%= @member.title %>
</p>

<p>
  <strong>First name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Middle initial:</strong>
  <%= @member.middle_initial %>
</p>

<p>
  <strong>Last name string:</strong>
  <%= @member.last_name_string %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @member.birthdate %>
</p>

<p>
  <strong>Age:</strong>
  <%= @member.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @member.gender %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @member.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @member.city %>
</p>

<p>
  <strong>County:</strong>
  <%= @member.county %>
</p>

<p>
  <strong>State:</strong>
  <%= @member.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @member.postal_code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @member.home_phone %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @member.cell_phone %>
</p>

<p>
  <strong>Send card:</strong>
  <%= @member.send_card %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @member.plan %>
</p>

<p>
  <strong>Membership fee:</strong>
  <%= @member.membership_fee %>
</p>

<p>
  <strong>Role:</strong>
  <%= @member.role %>
</p>

<p>
  <strong>Status:</strong>
  <%= @member.status %>
</p>

<p>
  <strong>Member since:</strong>
  <%= @member.member_since %>
</p>

<p>
  <strong>Membership ends:</strong>
  <%= @member.membership_ends %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @member.notes %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
